SUPABASE_URL=https://zefcqrnhaeounzdmjscc.supabase.co
SUPABASE_ANON_KEY=your_key_here
TERABOX_EMAIL=chatroomcorner01@gmail.com
TERABOX_PASS=Hussain@#12
BACKUP_PROXY_URL=https://chatcorner-proxy.onrender.com
